/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Leaf yellow: #f3ac3c
  Leaf green: #998235
  Leaf dark green: #1a4341
*/

.box {
  background-color: #0b2429;
}

.leaf {
  width: 150px;
  height: 150px;
  background-color:#f3ac3c ;
  position:relative;
  top:80px;
  left: 200px;
  border-top-left-radius: 100px;
  border-bottom-right-radius:100px;
  box-shadow: -50px 0px #998235, -100px 0px #1a4341
}
