/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Leaf yellow: #f3ac3c
  Leaf green: #998235
*/

.box {
  background-color: #0b2429;
}

.leaf {
  position: relative;
  width: 125px;
  height: 125px;
  background-color: #f3ac3c;
  position: relative;
  top: 145px;
  left: 80px;
  border-radius: 50% 0 50% 50%;
  box-shadow: 50px -50px #998235;
}
.leaf::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 125px;
  background-color: #f3ac3c;
  border-radius: 50%;
  top: -110px;
  left: 110px;
  z-index: -1;
}
